/* Default Light Theme */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

/* HEADER */
header {
    background-color: #ffffff;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

#about {
    width: 80%;
    margin: 40px auto;
    text-align: center;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
}

nav a:hover {
    text-decoration: underline;
}

/* HERO */
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 60px 20px;
}

.hero-img {
    width: 150px;
    border-radius: 50%;
}

.highlight {
    color: #007bff;
}

.small-desc {
    font-size: 14px;
    color: #555;
}

/* SECTIONS */
section {
    padding-top: 80px;
    margin: 40px 20px;
    padding: 40px 20px;
    background: #fff;
    border-radius: 10px;
}

h2 {
    text-align: center;
}

/* LIST STYLE */
ul {
    list-style-type: square;
    padding-left: 40px;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 15px;
    margin-top: 30px;
    background: #ffffff;
}

/* DARK MODE */
body.dark {
    background-color: #121212;
    color: #f5f5f5;
}

body.dark header,
body.dark section,
body.dark footer {
    background: #1e1e1e;
}

body.dark nav a {
    color: #fff;
}
